@charset "UTF-8";

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #ebfaff;
	position:fixed;
	height: 100%;
	overflow: auto;
}

.sidebar a:hover:not (.active ) {
	background-color: #2124aebf;
	color: white;
}


.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
	font-size:30px;
}

.sidebar a.active {
	background-color: #03A9F4;
	color: white;
}


div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 100%;
}